*,
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Heebo";
  direction: rtl;
}

.container {
  margin: 0 auto;
}

.about {
  padding: 150px 0;
  display: flex;
  flex-wrap: wrap;
  &-title {
    margin-top: -50px;
    padding-right: 100px;
    font-size: 50px;
    font-weight: 400;
    span {
        color: #0646b6;
    }
  }
  &-image {
    img {
      position: absolute;
      top: -122px;
      left: -130px;
      z-index: 1;
    }
  }
  &-text {
    padding: 100px 180px 0 0;
    p {
      max-width: 400px;
    }
  }
  &-container {
    position: relative;
    width: 50%;
    &__image {
      background: url("../img/placeholder.jpg") no-repeat;
      background-size: cover;
    }
    &:nth-child(1) {
      background: #eeeae1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 450px;
    }

    &:nth-child(2) {
      background: #faf7f2;
      height: 450px;
    }

    &:nth-child(3) {
      background: #faf7f2;
    }
  }

  &-description {
    max-width: 540px;
    padding: 30px 100px 0 0;
  }

  &-sub {
    height: 95px;
    background: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    padding-bottom: 10px;
    font-size: 38px;
    font-weight: 700;

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      background: rgb(213, 80, 81);
      position: absolute;
      border-radius: 50%;
      bottom: 20px;
      left: 30px;
    }
  }

  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 540px;
    padding: 80px 100px 0 0;

    &__phone {
      text-decoration: none;
      color: #3076f2;
      font-size: 18px;
    }

    &__text {
      font-size: 18px;
    }

    &__button {
      font-size: 18px;
      background: #3076f2;
      border: none;
      color: #fff;
      box-shadow: none;
      z-index: 2;
      cursor: pointer;
      border-radius: 20px;
      padding: 12px 30px;

      &:hover {
        background: #0646b6;
      }

      &:active {
        background: #002460;
      }
    }
  }
  &-icon {
    &__one {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(213, 80, 81, 0.4);
      padding: 20px;
      border-radius: 50px;
      img {
        width: 50px;
      }
    }
    &__second {
      margin-left: 45px;
      position: relative;
      z-index: 2;

      &::before {
        content: "";
        width: 70px;
        height: 70px;
        border-radius: 50%;
        position: absolute;
        background: rgba(246, 239, 24, 0.811);
        z-index: -1;
        top: -16px;
        left: -30px;
      }

      img {
        width: 50px;
      }
    }
  }
  &-advantages {
    display: flex;
    display: flex;
    max-width: 850px;
    justify-content: space-evenly;
    margin: 0 auto;
    &__details {
      width: 210px;
      margin-top: 50px;

      p {
        margin-top: 20px;
        font-size: 22px;

        span {
          color: rgb(213, 80, 81);
        }
      }

      &:nth-child(2) {
        position: relative;
        margin-top: 80px;

        &::before {
          content: "";
          position: absolute;
          width: 6px;
          height: 80px;
          background: rgb(213, 80, 81);
          top: 12px;
          left: -15px;
          border-radius: 20px;
        }

        &::after {
          content: "";
          position: absolute;
          width: 6px;
          height: 80px;
          background: rgb(213, 80, 81);
          top: 12px;
          right: -45px;
          border-radius: 20px;
        }
      }
    }
  }

  &-dropdown {
    position: relative;
    display: inline-block;

    &:hover .about-dropdown__content {
      display: block;
    }

    &__wrap {
      min-width: 200px;
      max-height: 230px;
      position: absolute;
      z-index: 1;
    }

    &__content {
      display: none;
      background-color: #fff;
      z-index: 1;
      border: 2px solid #000;
      border-radius: 5px;
      overflow: auto;
      max-height: 230px;
      direction: ltr;
      &::-webkit-scrollbar {
        width: 6px;
        height: 20%;
      }

      &::-webkit-scrollbar-thumb {
        background: rgb(213, 80, 81);
        border-radius: 6px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
    }

    &__link {
      color: #4a4545;
      text-align: end;
      padding: 12px 5px;
      text-decoration: none;
      display: block;
    }
  }
  &-slider {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
  }
  &-slide {
    height: 200px;
    background: url("../img/slider-3.jpg") no-repeat;
    line-height: 300px;
    text-align: center;
    color: #fff;
    &:nth-child(2) {
      background: url("../img/slider-1.jpg") no-repeat;
    }
    &:nth-child(3) {
      background: url("../img/slider-2.jpg") no-repeat;
    }
    &:nth-child(4) {
      background: url("../img/slider-3.jpg") no-repeat;
    }
    &:nth-child(5) {
      background: url("../img/slider-1.jpg") no-repeat;
    }
    &:nth-child(6) {
      background: url("../img/slider-2.jpg") no-repeat;
    }
  }
  &-bottom {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    width: 90%;
    &__text {
      max-width: 300px;
      font-size: 20px;
      font-weight: 700;
    }
  }
  &-checkbox {
    display: inline-block;
    font-size: 12px;
  }
}

/* icon start*/
.icon-cog,
.icon-home,
.icon-heart-o,
.icon-sign-out,
.icon-stack-overflow {
  font-family: "icomoon";
}

.icon-cog {
  &::before {
    content: "\f013";
  }
}

.icon-home {
  &::before {
    content: "\f015";
  }
}

.icon-heart-o {
  &::before {
    content: "\f08a";
  }
}

.icon-sign-out {
  &::before {
    content: "\f08b";
  }
}

.icon-stack-overflow {
  &::before {
    content: "\f16c";
  }
}
/* icon end */

/* checkbox start */
.about-checkbox__input {
  display: none;
}

.about-checkbox__input + .about-checkbox__button {
  outline: 0;
  display: block;
  width: 100px;
  height: 27px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.about-checkbox__button {
  background: #ff5152;
  border-radius: 20rem;
  padding: 2px;
  transition: all 0.4s ease;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.about-checkbox__button:after {
  content: "";
  border-radius: 20px;
  background: #fff;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 2px;
  top: 2px;
  width: 40px;
  height: 23px;
}

.about-checkbox__input:checked + .about-checkbox__button {
  background: #08c124;
}

.about-checkbox__input:checked + .about-checkbox__button:after {
  left: 58px;
}

.about-checkbox__input + .about-checkbox__button:before {
  content: "No";
  left: 75px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.about-checkbox__input:checked + .about-checkbox__button:before {
  content: "Yes";
  color: #fff;
  left: 10px;
}
/* checkbox end */

// dark mode
.toggle-dark-mode {
    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
  }
  
  .toggle-dark-mode.active {
    color: #ff5152;
  }

  body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  .about-container.dark-mode {

    color: #ffffff;
    &:nth-child(1) {
        background: #121212 ;

    }
    &:nth-child(2) {
        background: #121212 ;

    }
    &:nth-child(3) {
        background: #121212 ;

    }
  }
.about-sub.dark-mode {
    background: #352929;
}
.about-dropdown__content.dark-mode {
    background: #121212 ;
    border: 2px solid #352929;
    a {
        color: #fff;
    }
}

/* ltr mode */
.toggle-direction {
    position: fixed;
    top: 10px;
    right: 80px;
    font-size: 24px;
    cursor: pointer;
    color: #ff5152;
  }
  .rtl-mode {
    direction: rtl;
  }
  
  .ltr-mode {
    direction: ltr;
  }
  .about-title.active {
    padding-left: 100px;
  }
  .about-description.active {
    padding: 30px 0 0 100px;
  }
  .about-info.active {
    padding: 80px 0 0 100px;
  }
  .about-text.active {
    padding: 100px 0 0 180px;
  }
  .about-image.active img {
    left: -60px;
  }
  .about-advantages__details.active {
    p {
        position: relative;
        span {
            right: 0;
        }
    }
  }